.image-six{
    width: 535px;
    height: 532px;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    top: 1516px;
    left: 771px;
}

.mission-title-container{
    display: flex;
    align-items: center;
    gap: 9px;
    position: absolute;
    left: 149px;
    top: 1557px;
}

.sign-mission,
.sign-testimonals,
.sign,
.sign-aboutus,
.sign-blog,
.start-sign
{
    width: 103px;
    height: 6px;
}

.mission-text,
.title-testimonals,
.heading-aboutus,
.title-blog,
.start-title
{
    font-family:Inter;
    font-weight: 500;
    font-size: 15px;
    color: #f37321;
}

.mission-title{
    font-family:Helvetica;
    width: 458px;
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    top: 1593px;
    left: 149px;
}

.mission-paragraph{
    font-family:Inter;
    font-weight: 400;
    font-size: 15px;
    color: #232323;
    line-height: 144%;
    width: 474px;
    height: 132px;
    position: absolute;
    top: 1693px;
    left: 149px;
}

.mission-touch-button{
    font-family:Inter;
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #f37321;
    border: none;
    border-radius: 72px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 28px;
    padding-left: 28px;
    position: absolute;
    top: 1977px;
    left: 149px;
    cursor: pointer;
}